<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <video  id="myVideo" class="myvideo" width="100%"  controls controlsList="nodownload" >
    <source [src]="''" type="video/mp4"/>
  </video> 
  </ion-content>

  <ion-footer no-border>
    
            <ion-label> 
                <ion-textarea autosize [(ngModel)]="text">  </ion-textarea>
          <div class="sendBtn"  (click)="sendMessage()"><ion-icon class="sendIcon" name="send"></ion-icon></div>
        </ion-label>
         
    </ion-footer>
