<ion-header>
  <ion-toolbar color="primary">
    <ion-title>CHECKOUT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="card">
        <div class="head">
          <ion-row>
        <ion-col size="2"><img  src="assets/imgs/stripe.png" /></ion-col>
        <ion-col size="10" > 
          <ion-row >{{fname}} {{lname}}</ion-row>
          <ion-row >PAY (AMOUNT )</ion-row>
        </ion-col>
          </ion-row>
        
        </div>
        <div class="cardnumber">
          <ion-row class="cnum" >
           <ion-col size="1" ><ion-icon class="mycard" name="card"></ion-icon></ion-col> 
         <ion-col size="11"><ion-input  maxlength="16" type="tel" placeholder="Card Number" name="card_number" [(ngModel)]="cardNumber"></ion-input>
          </ion-col> 
        </ion-row>
          </div>
        
           <ion-grid class="grid" >
             <ion-row class="expdate">
               <ion-col size="6" class="date" ><div>
                 
               <ion-row class="cal" >
                  <ion-col size="1" ><ion-icon class="mycard" name="calendar"></ion-icon></ion-col>
                <ion-col><ion-input  type="tel" maxlength="2" placeholder="MM" name="expiryMonth" class="month"  [(ngModel)]="cardMonth"></ion-input>
                 </ion-col> 
                 <ion-col><ion-input type="tel" disabled="true"  placeholder="/"  class="stroke" #expiryYear ></ion-input></ion-col> 
                
                <ion-col><ion-input type="tel" maxlength="2" placeholder="YY" name="expiryYear" class="year" #expiryYear [(ngModel)]="cardYear"></ion-input>
        </ion-col> 
        </ion-row>
                </div></ion-col>
                <ion-col size="1"></ion-col>
                
               <ion-col class="ccv" size="5">
                  <ion-icon class="mycard" name="lock"></ion-icon>
                <ion-input class="inccv" type="tel" maxlength="3" placeholder="CCV" name="cvc"  [(ngModel)]="cardCVV"></ion-input></ion-col>
        
             </ion-row>
           </ion-grid>
        
           <ion-button expand="full"  (click)="validateCard()">PAY (NGN) {{price | number:'.2'}}</ion-button>
        
           <div class="secured">
              <ion-icon name="lock" item-start></ion-icon>
             SECURED BY STRIPE
        </div>
          </ion-card>
        
         
        </ion-content>