img{
    margin-left: 40%;
    margin-bottom: 30px;
    margin-top: 10%;
}

.list{
    margin-top:10%;
}

.Litem{
    background-color: transparent;

    margin-left: auto;
    margin-right: auto;
    border-bottom:  2px solid #313030;
    width:90%;
    margin-bottom: 20px;
    text-align: center;
}
.btn{
    width: 90%;
    margin-left:  auto;
    margin-right:  auto;
   // border:  2px solid #ffffff;
    background-color:#800080;
}
label{
    margin-left: 10px;
}
.keep{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    letter-spacing: 7px;
    margin-top: 11px;
    text-align: center;
}
p{
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.button-native{
    background-color:blue;
}

.forget{
    margin-top: 100px;
    float: right;
    font-size: 12px;
    letter-spacing: 4px;
}