ion-title{
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 17px;
}
    ion-label{
        border-radius: 100px;
    }

    ion-item{
        border-radius: 100px;
        background-color: transparent;


        margin-bottom:20px;
    }

