<ion-header>
    <ion-toolbar color=primary>
      <ion-title>
        Classes
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content >
 
  
  <ion-card>
    <ion-item>
      <img src="assets/imgs/classes/beginnerClass.png"/>   
     </ion-item>
  <ion-card-header>BEGINNER CLASS</ion-card-header>
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
      <ion-button color="primary" fill="outline" slot="end" expand="full" (click)="toBeginner()">View</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <img src="assets/imgs/classes/intermediateClass.png"/>
    </ion-item>
  <ion-card-header>INTERMEDIATE CLASS</ion-card-header>
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
      <ion-button fill="outline" slot="end" expand="full" (click)=" toIntermediate()">View</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <img src="assets/imgs/classes/advancedClass.png"/>
    </ion-item>
  <ion-card-header>ADVANCED CLASS</ion-card-header>
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
      <ion-button fill="outline" slot="end" expand="full" (click)="toAdvanced()">View</ion-button>
    </ion-card-content>
  </ion-card>
  
 
</ion-content>
