
   

    ion-title{
        font-weight: 800;
        line-height: normal;
        font-size: 18px;
        text-align: center;
        letter-spacing: -0.02em;
        text-transform: uppercase;

    
    }

    .startImg{
        margin-left: 40%;
        margin-bottom: 30px;
        margin-top: 10%;
    }

    .formP{
        font-size: 12px;
        text-align: center;
    }
    
    .item-md{
        background-color: #f1f1f1;
    }



